{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="content-area">
        <form action="/register" method="post">
            <div style="padding: 15px">
                <input spellcheck="false" class="textbox" autocomplete="off" autofocus  name="username" placeholder="Username" type="text" size="25" required>
            </div>
            <div style="padding: 15px">
                <input spellcheck="false" class="textbox" name="password" placeholder="Password" type="password" size="25" required>
            </div>
            <div style="padding: 15px">
                <input spellcheck="false" class="textbox" name="confirmation" placeholder="Confirm Password" type="password" size="25" required>
            </div>
            <br><br>
            <button class="buttonsubmit" type="submit">Register</button>
        </form>
    </div>
{% endblock %}
